	*{
		padding: 0;
		margin: 0;
	}

	h1{
		font-size: 20px;
		font-family: sans-serif;
		font-weight: bold;
	}

	h2{
		font: bold 15px sans-serif;
	}

	header, section, footer, aside, nav, article, hgroup{
		display: block;
	}

	body{
		text-align: left;
	}

	.agrupar{
		text-align: center;
		margin: 15px auto;
		width: 960px;
		border: 1px solid black;
	}

	#fotoLoi{
		width: 250px; height: 250px;
	}

	.cabecera{
		background: #FFFBB9;
		border: 1px solid #999999;
		padding: 20px;
	}

	.cabecera h1{
		text-align: left;
	}

	.menu{
		background: #CCC;
		padding: 5px 15px;
		text-align: left;
	}

	.menu li{
		list-style: none;
		padding: 5px;
		font: bold 14px verdana;
		display: inline-block;
	}

	.seccion{
		margin: 20px;
		width: 600px;
		border: 1px solid black;
	}